{% extends 'partials/base.html' %}
{% load static %}
{% block content %}


<div class="div1" style="">

    <div class="div2">
        <h1 class="mtext-105 cl2 js-name-detail p-b-14"><b>Payment Failed!</b></h1>
    <h4 class="mtext-105 cl2 js-name-detail p-b-14">Oops! Something went wrong</h4>
    <h5 class="mtext-106 cl2 " style="color:#bbbfbc;">While trying to reserve money from your account</h5><br>
            <button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04" style="margin-left:660px;">Try Again</button>

    </div>

</div>

<style>
.div1{
margin-top:100px;
height:100px;
margin-bottom:470px;
text-align:center;
padding-top:100px;

}

.div2{

}
</style>

{% endblock content %}




